body{
    background-image: none;
    height: 900px;
}

.big{
    float: left;
    margin-top: 100px;
    background-color: white;
    background-image: url(../images/water.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 50px;
}


.big h1{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 60px;
    font-family: 'Didact Gothic', sans-serif;
    color: black;
    background-color: transparent;
    margin-top: 100px;
    margin-bottom: 50px;
}
.accordion{
    width: 64%;
    margin-left: 20%;
    margin-right: 20%;
    float: left;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 60px;
    border-radius: 5px;
    background-color: aqua;
}
.accordion:hover{
    cursor: pointer;
}
.accordion button {
    background-color: aqua;/*#eee;*/
    color: #444;
    cursor: pointer;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    transition: 0.4s;
    border: none;
    outline: none;
    height: 60px;
}

button.accordion.active, button.accordion:hover {
    background-color: whitesmoke;/*#ddd;*/
    cursor: pointer;
}

button.accordion:after {
    content: '\02795';
    font-size: 23px;
    padding-right: 2%;
    color: #777;
    margin-top: 8px;
    float: right;
}
button.accordion.active:after {
    content: "\2796";
    cursor: pointer;
}

div.individualClass.show {
    opacity: 1.0;
    max-height: 3500px;  
}
.individualClass{
    padding: 2%;
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Didact Gothic', sans-serif;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 10px;
    background-color: whitesmoke;
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.individualClass h1{
    float:left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    margin-bottom: 5px;
    float: left;
    color: black;
    text-align: center;
    font-size: 28px;
}
.individualClass h2{
    float: left;
    text-align: left;
    font-size: 20px;
    color: slategrey;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 5%;
}
.individualClass p{
    width: 90%;
    margin-left: 5%;
    float: left;
    text-align: left;
    font-size: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}
.individualClass ul{
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.individualClass li{
    float: left;
    width: 90%;
    margin-left: 5%;
}
.individualClass h3{
    float: left;
    width: 90%;
    margin-left: 5%;
}
.footer-1{
    border: none;
}
.footer-2{
    background-color: whitesmoke;
}
.footer-2 p, .footer-2 a{
    background-color: whitesmoke;
}