@media screen and (max-width: 800px) {
    .title a{
        width: 15%;
    }
    .navigation a{
        margin-top: 10px;
        width: 20%;
    }
    .social-media{
        width: 16%;
        margin-left: 42%;
    }
    .social-media img{
        width: 75%;
    }
}
@media screen and (max-width: 700px) {
    .logo{
        width: 100%;
        height: 60px;
    }
    .title{
        width: 100%;
        height: 50px;
        padding-bottom: 10px;
    }
    .title a{
        width: 20%;
    }
}

@media screen and (max-width: 600px) {
    
    .social-media{
        width: 45%;
        margin-left: 22.5%;
    }
    .social-media a{
        
    }
    .social-media img{
        width: 50%;
        margin-left: 25%;
    }
    .newsletter{
        width: 60%;
    }
    .individualClass{
        padding: 2%;
        width: 90%;
        margin-left: 3%;
        margin-right: 5%;
        margin-bottom: 10px;
        max-height: 0px;
        overflow: scroll;
        transition: 0.6s ease-in-out;
        border-radius: 10px;
    }
    
}