/*-----------------------------------------------------------
        Big
/*-----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
.grandparent-wrapper{
    float: left;
    width: 100%;
    background-image: url(../images/rock.jpeg);
    background-size: cover;
    background-color: whitesmoke;
}
.parent-wrapper{
    width: 80%;
    margin: 0 10% 0 10%;
    background-color: whitesmoke;
}
/*-----------------------------------------------------------
        Top Banner
/*-----------------------------------------------------------*/
.banner{
    width: 100%;
    margin: 0;
    height: 60px;
    background-color: white;
    background-color: whitesmoke;
}
.banner h1{
    float: left;
    width: 100%;
    margin-top: 5px;
    font-size: 36px;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    background-color: white;
    background-color: whitesmoke;
}

/*-----------------------------------------------------------
        Navigation Bar
/*-----------------------------------------------------------*/
.navigation{
    float: left;
    width: 100%;
    height: 50px;
    background-color: aqua;
    font-family: 'Didact Gothic', sans-serif;
}
.navigation a{
    float: left;
    width: 25%;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: aqua;
    font-size: 18px;
    height: 35px;
    padding-top: 15px;
}
.navigation a:hover{
    background-color: #f1eff2;
    background-color: white;
}

.fixed{
    float: left;
    position: fixed;
    width: 80%;
}
/*-----------------------------------------------------------
        Content
/*-----------------------------------------------------------*/
.content{
    float: left;
    width: 100%;
    background-color: white;
    background-color: whitesmoke;
}

.content-1{
    float: left;
    width: 80%;
    margin: 175px 10% 0 10%;
    background-color: white;
    background-color: whitesmoke;
    border-bottom: 1px solid aqua;
    height: 500px;
}
.content-1 img{
    height: auto;
    max-height: 450px;
    max-width: 100%;
    margin: auto;
    display: block;
}
.content-2{
    float: left;
    width: 80%;
    margin: 20px 10% 20px 10%;
    height: 300px;
    background-color: whitesmoke;
    border: 1px solid aqua;
    font-family: 'Didact Gothic', sans-serif;
}

.content-2 h1{
    float: left;
    text-align: center;
    width: 100%;
    font-size: 36px;
}
.content-2 a{
    float: left;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.content-2 a:hover{
    opacity: 0.7;
}

#blog{
    float: left;
    width: 30%;
    margin: 120px 35% 0 35%;
    border: 2px solid black;
    bottom: 5px;
}
#blog a:hover{
    background-color: black;
    color: white;
    opacity: 1.0;
}
.content-3{
    float: left;
    width: 80%;
    margin: 165px 10% 10px 10%;
    background-color: white;
    background-color: whitesmoke;
    border-bottom: 1px solid aqua;
}
.content-3 h1{
    float: left;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 60px;
    text-align: center;
}
.content-3 p{
    float: left;
    width: 80%;
    margin: 15px 10% 15px 10%;
    font-family: 'Didact Gothic', sans-serif;
}

.content-4{
    float: left;
    width: 100%;
    margin: 165px 0% 50px 0%;
    background-color: white;
    background-color: whitesmoke;
    
}
.content-4 h1{
    float: left;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 60px;
    text-align: center;
}
.content-4 h2{
    float: left;
    width: 80%;
    margin: 22px 10% 0px 10%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}
.content-4 h4{
    float: left;
    width: 80%;
    margin: 3px 10% 0px 10%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    text-align: center;
}
.content-4 p{
    float: left;
    width: 80%;
    margin: 0px 10% 10px 10%;
    font-family: 'Didact Gothic', sans-serif;
}

.content-5{
    float: left;
    width: 100%;
    margin: 165px 0% 30px 0%;
    background-color: white;
    background-color: whitesmoke;
    border-bottom: 1px solid aqua;
}
.content-5 h1{
    float: left;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 60px;
    text-align: center;
}
.content-5 h2{
    float: left;
    width: 90%;
    margin: 3px 5% 0px 5%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 28px;
    text-decoration: underline;
    text-align: left;
}
.content-5 h4{
    float: left;
    width: 90%;
    margin: 3px 5% 0px 5%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    text-align: center;
}
.content-5 p{
    float: left;
    width: 90%;
    margin: 3px 5% 0px 5%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
}
.content-5 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.content-5 a:hover{
    color: aqua;
}

.content-6{
    float: left;
    width: 80%;
    margin: 165px 10% 10px 10%;
    background-color: white;
    background-color: whitesmoke;
}
.content-6 h1{
    float: left;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 60px;
    text-align: center;
}
.content-6 p{
    float: left;
    width: 80%;
    margin: 15px 10% 15px 10%;
    font-family: 'Didact Gothic', sans-serif;
}
/*-----------------------------------------------------------
        Footer
/*-----------------------------------------------------------*/
.footer-1{
    float: left;
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    /*
    border-top: 2px solid aqua;
    border-bottom: 2px solid aqua;
    */
    font-family: 'Didact Gothic', sans-serif;
}
.footer-1 img{
    height: 70px;
    width: 70px;
}

.footer-1 a:hover{
    opacity: 0.7;
}
.link-container{
    float: left;
    width: 50%;
    margin: 0 25% 0 25%;
    height: 80px;
    background-color: whitesmoke;
}
.link-container a{
    float: left;
    width: 30%;
    margin: 0 1% 0 1%;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 5px;
    background-color: whitesmoke;
}
.footer-2{
    float: left;
    width: 100%;
    margin: 0;
    height: 120px;
    background-color: white;
    background-color: whitesmoke;
}
.footer-2 p, .footer-2 a{
    background-color: whitesmoke;
}
.footer-2 p{
    float: left;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Didact Gothic', sans-serif;
    margin-top: 30px;
    background-color: white;
}
.footer-2 a{
    float: left;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Didact Gothic', sans-serif;
    margin-top: 30px;
    background-color: white;
}
.footer-2 a:hover{
    opacity: 0.7;
}
.footer-2 p, .footer-2 a{
    background-color: whitesmoke;
}
/*-----------------------------------------------------------
        Slide Show
/*-----------------------------------------------------------*/
.dropbtn {
    width: 100%;
    text-align: center;
    background-color: aqua;
    color: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 50px;
    padding-top: 4px;
}

.dropdown {
    float: left;
    width: 25%;
    background-color: aqua;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    margin-top: 0;
    width: 100%;
    color: black;
    text-decoration: none;
    display: block;
    height: 50px;
    padding-top: 15px;
}
.dropdown-content a:hover {
    background-color: white;
    opacity: 1.0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1eff2;
    background-color: white;
}

#map{
    float: left;
    width: 90%;
    margin: 30px 5% 15px 5%;
    
}








