/*-----------------------------------------------------------
        Media Queries
/*-----------------------------------------------------------*/

@media screen and (max-width: 925px) {
    .content-1{
        height: 400px;
    }
    .content-2{
        height: 350px;
    }
    #blog{
        width: 50%;
        margin: 50px 25% 0 25%;
    }
}

@media screen and (max-width: 800px) {
    
    .content-1{
        height: 350px;
    }
    .content-2 a{
        width: 90%;
        margin: 0 5% 0 5%;
    }
    .content-2{
        height: 400px;
    }
    #blog{
        width: 50%;
        margin: 50px 25% 0 25%;
    }
    #blog a{
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    
    .content-1{
        height: 300px;
    }
    .content-2{
        height: 400px;
    }
    .content-2 a{
        width: 90%;
        margin: 0 5% 0 5%;
    }
    #blog{
        width: 50%;
        margin: 20px 25% 0 25%;
    }
    .link-container{
        width: 70%;
        margin: 0 15% 0 15%;
    }
}
@media screen and (max-width: 480px) {
    
    .parent-wrapper{
        width: 100%;
        margin: 0;
    }
    .fixed{
        width: 100%;
    }
    .navigation a{
        font-size: 16px;
    }
    .dropbtn {
        padding-top: 0px;
        font-size: 15px;
    }

    .content-1{
        height: 260px;
    }
    .content-2{
        height: 300px;
    }
    .content-2 h1{
        font-size: 28px;
    }
    .content-2 a{
        font-size: 18px;
        width: 90%;
        margin: 0 5% 0 5%;
    }
    #blog{
        width: 50%;
        margin: 50px 25% 0 25%;
    }
    .link-container{
        width: 70%;
        margin: 0 15% 0 15%;
    }
}
