/*-----------------------------------------------------------
        Font Collection
/*-----------------------------------------------------------*/
/*
font-family: 'Amatic SC', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Economica', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/*-----------------------------------------------------------
        Big
/*-----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    
}
body{
    
}
html{
    /*
    
    border: 3px solid black;
    */
    
    
}
.big-top{
    height: 550px;
    background-image: url("backgrounds/image10.jpg");
    background-size: cover;
    margin: 1.5%;
    width: 97%;
}
.title{
    font-family: 'Amatic SC', fantasy;
    height: 140px;
    font-size: 40px;
    font-weight: 100;
    float: left;
    width: 100%;
    text-align: center;
    background-color:rgba(255,255,255,0.5);
}

.title h2{
    font-size: 32px;
}
.navigation{
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Julius Sans One', sans-serif;*/
    /*font-family: 'Economica', sans-serif;*/
    /*font-family: 'Amatic SC', sans-serif;*/
    font-family: 'Amatic SC', fantasy;
    height: 50px;
    font-size: 24px;
    font-weight: 100;
    float: left;
    width: 100%;
    background-color:rgba(255,255,255,0.5);
}
.links{
    float: left;
    width: 80%;
    margin-left: 10%;
}
.links a{
    margin-top: 10px;
    float: left;
    width: 20%;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 600;
}

.navigation a:hover{
    opacity: 0.8;
    color: orangered;
}
.navigation2{
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Julius Sans One', sans-serif;*/
    /*font-family: 'Economica', sans-serif;*/
    /*font-family: 'Amatic SC', sans-serif;*/
    font-family: 'Amatic SC', fantasy;
    height: 50px;
    font-size: 24px;
    font-weight: 100;
    padding-left: 20%;
    float: left;
    width: 100%;
    border-top: 4px solid white;
    background-color:rgba(255,255,255,0.5);
}
.navigation2 a{
    margin-top: 10px;
    float: left;
    width: 20%;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 600;
}

.navigation2 a:hover{
    opacity: 0.8;
    color: orangered;
}

.newsletter{
    float: left;
    width: 25%;
    background-color:rgba(255,255,255,0.5);
    margin-top: 50px;
    margin-left: 10%;
    border: 4px solid white;
    border-radius: 10px;
}

.newsletter a{
    text-decoration: none;
    float: left;
    font-size: 42px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Amatic SC', fantasy;
    text-align: center;
    width: 100%;
    color: black;
    text-shadow: 1px 1px black;
}
.newsletter a:hover{
    color: orangered;
}

.announcements{
    float: left;
    width: 90%;
    margin-left: 5%;
}
.announcements h1{
    float: left;
    font-size: 42px;
    font-family: 'Amatic SC', fantasy;
    text-align: center;
    width: 100%;
}
.announcements a{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 26px;
    font-family: 'Amatic SC', fantasy;
    text-align: center;
    width: 100%;
}
.announcements a:hover{
    opacity: 0.8;
    color: orangered;
}
.footer1{
    margin-top: 20px;
    float: left;
    width: 90%;
    margin-left: 5%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.footer1 h2{
    margin-top: 20px;
    width: 33.33%;
    float: left;
    text-align: center;
    font-family: 'Amatic SC', fantasy;
    font-size: 24px;
    font-weight: 100;
    padding-bottom: 20px;   
}

.footer2{
    margin-top: 40px;
    float: left;
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 150px;
    background-color: white;
    border-top: 3px solid lightgrey;
}
.footer2 p{
    float: left;
    margin-top: 50px;
    font-family: 'Amatic SC', fantasy;
    font-size: 24px;
    font-weight: 100;
    width: 80%;
    margin-left: 5%;
    text-decoration: none;
}
.social-media{
    width: 15%;
    float: left;
}
.footer2 a{
    float: right;
    margin-top: 50px;
    width: 50%;
}
.footer2 img{
    /*float: right;
    margin-top: 50px;*/
    opacity: 0.9;
    height: 50px;
    width: 50%;
    /*margin-right: 1%;*/
}

.footer2 a:hover{
    opacity: 0.6;
}