.price-content{
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding-top: 175px;
    background-color: whitesmoke;
    font-family: 'Didact Gothic', sans-serif;
}
.price-content h1,h2{
    float: left;
    text-align: center;
    width: 90%;
    margin: 0 5% 0 5%;
}
.price-pane{
    float: left;
    margin: 15px 1.5% 25px 1.5%;
    width: 30%;
    border: 1px solid black;
    
}
.price-pane a:hover{
    color: slategray;
}

.price-pane a{
    text-decoration: none;
    color: black;
}

.price-pane h1{
    margin: 0;
    float: left;
    width: 100%;
    background-color: aqua;
    text-align: center;
}
.price-pane h2{
    margin: 0;
    float: left;
    width: 100%;
    text-align: center;
}
.price-pane p{
    float: left;
    width: 90%;
    margin: 5px 5% 5px 5%;
}




@media screen and (max-width: 900px) {
    .price-pane{
        margin: 5px 5% 25px 5%;
        width: 90%;
    }

}