@media screen and (max-width: 1100px) {
    .teachers img{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 350px;
    }
}
@media screen and (max-width: 800px) {
    .title a{
        width: 15%;
    }
        .navigation a{
        margin-top: 10px;
        width: 20%;
    }
    .social-media{
        width: 16%;
        margin-left: 42%;
    }
    .social-media img{
        width: 75%;
    }
    .instructors h1{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 100px;
        font-size: 80px;
    }
    .teachers{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15px;
    }
    .teachers img{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        height: 300px;
    }
    .teachers h1{
        width: 65%;
        margin-left: 17.5%;
        font-size: 32px;
    }
    .teachers h2{
        width: 65%;
        margin-left: 17.5%;
        font-size: 22px;
    }
    .teachers p{
        width: 100%;
        margin-left: 0%;
        font-size: 18px;
    }
}
@media screen and (max-width: 700px) {
    .logo{
        width: 100%;
        height: 60px;
    }
    .title{
        width: 100%;
        height: 50px;
        padding-bottom: 10px;
    }
    .title a{
        width: 20%;
    }
}

@media screen and (max-width: 600px) {
    .teachers img{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 300px;
    }
    .teachers{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .social-media{
        width: 45%;
        margin-left: 22.5%;
    }
    .social-media a{
        
    }
    .social-media img{
        width: 50%;
        margin-left: 25%;
    }
    .newsletter{
        width: 60%;
    }
    
}